{% extends "main/base.html" %}
{% load i18n %}

{% block content %}



<a href="{% url 'main:run' %}" class="button"><i class="fa fa-play"></i>Run</a>

<div class="chart">
  <canvas id="canvas_net" height="75" width="auto"></canvas>
</div>


<script>
window.onload = function(){
  // var width = $(".chart").width() - 150;
  // var radius = width / (({{ result_data.generations_best|safe|length }} - 1) * 2.0 );
  //
  // var dataLabels = [];
  // var dataEarnings = [];
  //
  // {% for generation_best in result_data.generations_best %}
  //   dataLabels.push('{{ forloop.counter }}');
  //   dataEarnings.push({{ generation_best|floatformat:4 }});
  // {% endfor %}
  //
  // var data = {
  //   "success": true,
  //   "labels": dataLabels,
  //   "earnings": dataEarnings,
  // };
  //
  // var chartConfiguration = {
  //   type: 'line',
  //   data: {
  //     labels: data.labels,
  //     datasets: [{
  //       data: data.earnings,
  //       backgroundColor: "rgba(70, 205, 128, 0.33)",
  //       borderColor : "rgba(70, 205, 128, 0.9)",
  //     }]
  //   },
  //   options: {
  //     scales: {
  //       // xAxes: [{
  //       //   type: 'time',
  //       //   time: {
  //       //     tooltipFormat: 'ddd, ll',
  //       //     unitStepSize: {% widthratio result_data.generations_best|length 4 1 %},
  //       //     unit: 'day'
  //       //   },
  //       //   gridLines: {
  //       //     display: false,
  //       //     drawBorder: false,
  //       // },
  //       // }],
  //       yAxes: [{
  //         gridLines: {
  //           drawBorder: false,
  //         },
  //         ticks: {
  //           maxTicksLimit: 4,
  //           callback: function(value) { return intcomma(value); },
  //         }
  //       }],
  //     },
  //     elements: {
  //       point: {
  //         hitRadius: radius,
  //       },
  //     },
  //     tooltips: {
  //       callbacks: {
  //         label: function(tooltipItems, data) {
  //           return intcomma(tooltipItems.yLabel.toFixed(4));
  //         },
  //       },
  //     },
  //   },
  // }

  var earnings_chart = document.getElementById("canvas_net").getContext("2d");
  // window.myChart = new Chart(earnings_chart, chartConfiguration);

  var dataSets = [];
  {% for current_generation in result_data.generations %}
    var data = [];
    {% for current_item in current_generation %}
      data.push({x: {{ current_item.0 }}, y: {{ current_item.1 }}});
    {% endfor%}
    var item = {
      label: '{{ forloop.counter }}',
      data: data,
      {% if forloop.last %}
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
      {% endif %}
    }


    dataSets.push(item);
  {% endfor %}

  console.log(dataSets);

  window.myChart = new Chart(earnings_chart, {
    type: 'line',
    data: {
        datasets: dataSets,
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});
}
</script>

{% endblock %}
